# Database
DATABASE_URL="mysql://root:@localhost:3306/diagramio"

# JWT
JWT_SECRET=""
JWT_EXPIRES_IN=""
JWT_REFRESH_SECRET=""
JWT_REFRESH_EXPIRES_IN=""

# Server
PORT=
NODE_ENV=
CLIENT_URL=

# Guest session
GUEST_COOKIE_NAME=""
GUEST_COOKIE_MAX_AGE=
